<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Chat in real time with your users directly from Slack. No need for another tool, everybody can jump in to answer a question.">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="theme-color" content="#08AEEA">
<link href="/apple-touch-icon.png" rel="shortcut icon">
<link href="/style.css" rel="stylesheet" type="text/css">
<meta name="slack-app-id" content="A6FC7RNSF">
